/* standard elements */
html {
  background-color: #141619;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 100%
}

h1{
  font-size: 1.5rem;
  font-weight: bold;
  margin-left:0.5%;
  margin-top:1%;
  text-align: left;
  color:rgb(180, 180, 180);
}

#main{ 
	width:100%; 
	height:100vh; 
} 

.left-column{ 
	float:right; 
	width: 40%; /*how the columns are split*/ 
  color:rgb(180, 180, 180);
  padding-top:3%;
  margin-right:3%;
} 

.right-column{ 
	float:right; 
	width: 40%;
  color:rgb(180, 180, 180);
  padding-top:3%;
} 

.imageContainer{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:20%;
  height:20%;
}

img{
  width:  65%; /*img takes up all of the space inside of the div*/
  height: 65%;
  background-size: cover;
}

input[type="file"] {
  display: none;
}

#uploadImage{
  width:32.15%;
}

#uploadButton, #removeButton, #downloadButton {
  width:32.15%;
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  margin-bottom:1.5%;
}

#processedImage {
  width:65%;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
}

#processedImageLabel{
  margin-left:5.5%;
  margin-right:5.25%;
  margin-top:1%;
  font-size:87.5%;
}

.processButton{
  width:65%;
  cursor: pointer;
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  padding: 8px .8em;
  margin-top:2.5%;
  margin-left:50%;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

#edButton{
  background-color:#3eca7a;
}

#sharpenButton{
  background-color: #d869ae;
}

#blurButton{
  background-color:#c59b5c;
}

#embossButton{
  background-color: #e67373;
}

footer{
  margin-top: 10%;
  border-top: 0.1rem solid slategrey;
  font-size: 0.8rem;
  color:white;
}